# Dependencias
node_modules/

# Build output
dist/
.angular/

# Variables de entorno
.env
.env.*
src/environments/environment.ts
src/environments/environment.prod.ts

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/
